$primary: rgb(152, 152, 152);
$accent: #9fbcb8;

body {
  min-height: 100vh;
  background-color: $primary;
}



.auth-pages {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 35%;
  left: 50%;
  width: 30em;
  height: 20em;
  margin-top: -10em;
  margin-left: -15em;

  .auth-hero {
    width: 50%;
    height: 50%;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin: 10px;
    }
  }
}


.navbar {
  color: white;

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px;

    .search-input {
      border-radius: 8px;
      height: 36px;
      border: none;
      outline: none;
      padding-left: 10px;

    }

    .search-dropdown {
      position: absolute;
      top: 100%;
      width: 90%;
      background-color: rgb(241, 168, 168);
      box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
      border-radius: 8px;
      padding: 8px;
      z-index: 1;
    }

    .search-dropdown-item {
      padding: 4px 0 0 4px;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .search-dropdown-item:hover {
      background-color: #eee;
    }
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
  }
}

.home-page {

  .items-row {
    justify-content: center;
  }

  .card {
    max-width: 270px;
    width: 10%;
    font-size: 100%;
  }
}



// * {
//   box-sizing: border-box;
// }



// .home-page {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   .items-container {
//     display: flex;
//     align-items: center;
//     width: calc(100% - 40px);
//     border: 2px solid rgb(168, 134, 70);
//   }

//   .items-row {
//     height: 450px;
//     border: 2px solid orange;
//   }

//   .items-col {
//     .card {
//       // border: 5px solid black;
//       // border-radius: 18px;
//       // background-color: black;
//       color: white;
//     }
//   }

//   .items-card {
//     width: 175px;
//     // border: 2px solid red;
//     height: 175px;
//   }

//   .items-div {}
// }